<div class="container">
  <div class="section-heading text-center text-lg-start">
    <h6>Nice to meet you!</h6>
    <h2>Welcome to...</h2>
  </div>
  <div class="row gy-4">
    <div class="col-lg-5">
      <div class="about-left">
        <div class="about-avatar">
          <img src="assets/img/Yonas.png" title="" alt="" />
        </div>
        <h3>Yonas Kumelachew</h3>
        <p>
          Front-end,mobile developer
          <span>based in</span> Ethiopia
        </p>
        <div class="btn-bar">
          <a [href]="getDownloadLink()" download="CV.pdf" class="px-btn">
            Download CV
            <i class="fas fa-download"></i
          ></a>
        </div>
      </div>
    </div>
    <div class="col-lg-7 ps-xl-5">
      <div class="about-bio">
        <p>
          "Hi, I'm a developer based in Addis Ababa, Ethiopia, born in 2000. I
          specialize in designing and developing websites, mobile apps, and.
          With a passion for creating visually stunning and user-friendly
          experiences, I am skilled in front-end web development and Mobile App
          development. Let's collaborate to bring your ideas to life!"
        </p>
      </div>
      <div class="about-contact row gx-lg-5">
        <div class="col-sm-6">
          <p><i class="fas fa-phone"></i><span>+251 94 331 8895</span></p>
        </div>
        <div class="col-sm-6">
          <p><i class="fas fa-person"></i><span>Yonas Kumelachew</span></p>
        </div>

        <div class="col-sm-6">
          <p><i class="fas fa-map"></i><span>Addis Ababa, Ethiopia</span></p>
        </div>
      </div>
      <div class="about-exp">
        <div class="row gy-4">
          <div class="col-md-6">
            <p class="lead">
              Hello there! My name is
              <span>Yonas Kumelachew</span>. I am a web designer &amp;
              developer, and I'm very passionate and dedicated to my work.
            </p>
          </div>
          <div class="col-md-6">
            <p class="lead">
              I continuously strive to enhance my skills and explore various
              creative approaches while writing efficient code to make your
              project a success.
            </p>
          </div>
        </div>
        <blockquote>
          <i class="fa-solid fa-quote-left"></i>
          <p>
            " Those who always have virtue in their mouths, and neglect it in
            practice, are like a harp, which emits a pleasant sound to others,
            while it is insensitive to music" Diogenes
          </p>
        </blockquote>
      </div>
    </div>
  </div>
</div>
