<div class="mob-header">
  <div class="mob-h-left">
    <a href="javascript:" class="navbar-brand"
      ><img title="" alt="" src="assets/img/logo.svg" class="logo-dark" /><img
        title=""
        alt=""
        src="assets/img/logo-light.svg"
        class="logo-light"
    /></a>
  </div>
  <div class="mob-h-right">
    <button class="toggler-menu" (click)="toggleMenu()">
      <span></span>
    </button>
  </div>
</div>

<div class="navbar-left" [class.menu-open]="isMenuOpen">
  <div class="logo">
    <p class="logo-text">Eglion</p>
  </div>

  <ul class="main-menu">
    <li *ngFor="let item of ['home', 'about', 'services', 'work', 'contact']">
      <a 
        class="menu-item" 
        [class.active]="activeSection === item"
        [href]="'#' + item"
        (click)="setActiveSection(item)"
      >
        {{ item | titlecase }}
      </a>
    </li>
  </ul>

  <ul class="nav social-link">
    <li>
      <a href="https://t.me/Truediogenes" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-telegram"></i>
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/yonas-kumelachew-458256259/" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-linkedin"></i>
      </a>
    </li>
    <li>
      <a href="https://instagram.com" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-instagram"></i>
      </a>
    </li>
    <li>
      <a href="https://facebook.com" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-facebook"></i>
      </a>
    </li>
  </ul>
</div>
