<div class="navbar-left">
  <div class="logo">
    <p class="logo-text">Eglion</p>
  </div>

  <ul class="main-menu">
    <li>
      <a
        class="menu-item active"
        activeclass="active"
        href="#home"
        spyon="home"
      >
        Home
      </a>
    </li>
    <li>
      <a class="menu-item" activeclass="active" href="#about" spyon="about">
        About
      </a>
    </li>
    <li>
      <a
        class="menu-item"
        activeclass="active"
        href="#services"
        spyon="services"
      >
        Services
      </a>
    </li>
    <li>
      <a class="menu-item" activeclass="active" href="#work" spyon="work">
        Works
      </a>
    </li>
    <li>
      <a class="menu-item" activeclass="active" href="#contact" spyon="contact">
        Contact
      </a>
    </li>
  </ul>

  <ul class="nav social-link">
    <li>
      <a href="javascript:"><i class="fab fa-twitter"></i></a>
    </li>
    <li>
      <a href="javascript:"><i class="fab fa-instagram"></i></a>
    </li>
    <li>
      <a href="javascript:"><i class="fab fa-facebook"></i></a>
    </li>
    <li>
      <a href="javascript:"><i class="fab fa-pinterest"></i></a>
    </li>
  </ul>
</div>

