<div class="container">
  <div class="row gy-5">
    <div class="col-lg-5">
      <div class="section-heading">
        <h5>Contact</h5>
        <h2>Reach out me</h2>
      </div>
      <div class="contact-info">
        <ul>
          <li>
            <div class="icon">
              <i class="fas fa-comment-dots"></i>
            </div>
            <div class="text">
              <label>Chat to us</label>
              <p>
                chat to me for help.
                <span
                  ><a href="yonas.com" class="text-reset">yonas.com</a></span
                >
              </p>
            </div>
          </li>

          <li>
            <div class="icon">
              <i class="fas fa-phone"></i>
            </div>
            <div class="text">
              <label>Call us</label>
              <p>
                Mon-Fri from 8am to 5pm.
                <span>+251 (943) 31-8895</span>
              </p>
            </div>
          </li>
        </ul>
        <div class="google-map">
          <div class="ratio ratio-21x9">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3151.840107317064!2d144.955925!3d-37.817214!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb6899234e561db11!2sEnvato!5e0!3m2!1sen!2sin!4v1520156366883"
              allowfullscreen=""
            ></iframe>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-7 ps-xl-5">
      <div class="contact-form bg-g">
        <div class="contact-head">
          <h4>Got Ideas? We've got the skills. Let's team up.</h4>
          <p>Tell me more about yourself and what you're got in mind.</p>
        </div>
        <form id="contact-form" method="POST">
          <div class="row gx-3 gy-4">
            <div class="col-md-6">
              <div class="form-group">
                <label class="form-label">First name</label
                ><input
                  name="Name"
                  id="name"
                  placeholder="Name *"
                  type="text"
                  class="form-control"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="form-label">Your Email</label
                ><input
                  name="Email"
                  id="email"
                  placeholder="Email *"
                  type="email"
                  class="form-control"
                />
              </div>
            </div>
            <div class="col-12">
              <div class="form-group">
                <label class="form-label">Subject</label
                ><input
                  name="Subject"
                  id="subject"
                  placeholder="Subject *"
                  type="text"
                  class="form-control"
                />
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label class="form-label">Your message</label
                ><textarea
                  name="message"
                  id="message"
                  placeholder="Your message *"
                  rows="6"
                  class="form-control"
                  data-gramm="false"
                  wt-ignore-input="true"
                ></textarea>
              </div>
            </div>
            <div class="col-md-12">
              <div class="send">
                <button type="button" value="Send" class="px-btn dark w-100">
                  Send Message
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
