*,
:after,
:before {
  box-sizing: border-box;
  outline: none !important;
}
.gy-5 {
  --bs-gutter-y: 3rem;
}

.section-heading {
  margin-bottom: 65px;
  position: relative;
}
h5 {
  font-size: 1.25rem;
}
.section-heading h2 {
  margin: 0;
  text-transform: uppercase;
  font-size: 48px;
  font-weight: 700;
}
.contact-info ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.contact-info li + li {
  margin-top: 20px;
}
.contact-info li {
  display: flex;
  border: 1px solid rgba(var(--px-white-rgb), 0.1);
  padding: 20px;
  background: var(--px-bg);
}
.contact-info li .icon {
  width: 60px;
  height: 60px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    270.16deg,
    var(--px-theme-2) 5.74%,
    var(--px-theme) 92.05%
  );
  color: var(--px-white);
  font-size: 20px;
}

.contact-info li .text {
  padding-left: 20px;
  flex: 1;
}
.google-map {
  margin-top: 25px;
  filter: grayscale(100%);
}
.ratio-21x9 {
  --bs-aspect-ratio: 42.8571428571%;
}
.ratio {
  position: relative;
  width: 100%;
}


iframe {
  border: 0;
}
.contact-form {
  padding: 50px;
}

.bg-g {
  background: linear-gradient(
    270.16deg,
    var(--px-theme-2) 5.74%,
    var(--px-theme) 92.05%
  );
}
.contact-form .contact-head {
  margin-bottom: 35px;
}
.contact-form .contact-head h4 {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 15px;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
.contact-form .form-label {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 12px;
}
.form-label {
  margin-bottom: 0.5rem;
}
label {
  display: inline-block;
}
.contact-form .form-control {
  background: rgba(var(--px-white-rgb), 0.05);
  border-radius: 0;
  padding: 0.675rem 0.75rem;
  border: 1px solid rgba(var(--px-white-rgb), 0.3);
  color: var(--px-white);
  box-shadow: none;
}
.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  background-clip: padding-box;
  border: var(--bs-border-width) solid var(--bs-border-color);
  -webkit-appearance: none;
  appearance: none;
  border-radius: var(--bs-border-radius);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.col-12 {
  flex: 0 0 auto;
  width: 100%;
}
.px-btn.dark {
  background: var(--px-dark);
  color: var(--px-white);
}
.px-btn {
  padding: 15px 35px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--px-theme);
  color: var(--px-theme-text);
  text-decoration: none;
  border-radius: 0;
  transition: ease all 0.35s;
  font-weight: 500;
  outline: none;
  box-shadow: none;
  border: none;
  background: linear-gradient(90deg, var(--px-theme) 0%, var(--px-theme-2) 100%),
    var(--px-white);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: var(--px-white);
}
.w-100 {
  width: 100% !important;
}
button,
select {
  text-transform: none;
}
