<div class="container">
  <div class="section-heading">
    <h6>My Work</h6>
    <h2>Recent project</h2>
  </div>
  <div class="row gy-5 lightbox-gallery">
    <div class="col-lg-6">
      <div class="work-box">
        <div class="work-img">
          <a
            href="assets/img/matrixs.png"
            title="View Gallery"
            data-title="Caption for image 1"
            data-lightbox="services"
            ><img src="assets/img/matrixs.png" title="" alt=""
          /></a>
        </div>
        <div class="work-text">
          <h6>Website matrix fall</h6>
          <h4>Ethiopian matrix</h4>
          <div class="btn-bar">
            <a
              title="Read More"
              data-bs-toggle="modal"
              data-bs-target="#work_1"
              class="gallery-link"
              ><i class="fas fa-arrow-up-right-from-square narrow-icon"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="work-box">
        <div class="work-img">
          <a
            href="assets/img/ui.png"
            title="View Gallery"
            data-title="Caption for image 2"
            data-lightbox="services"
            ><img src="assets/img/ui.png" title="" alt=""
          /></a>
        </div>
        <div class="work-text">
          <h6>Navigation Mobile App</h6>
          <h4>CNM App</h4>
          <div class="btn-bar">
            <a
              title="Read More"
              data-bs-toggle="modal"
              data-bs-target="#work_2"
              class="gallery-link"
              ><i class="fas fa-arrow-up-right-from-square narrow-icon"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="work-box">
        <div class="work-img">
          <a
            href="assets/img/quote.png"
            title="View Gallery"
            data-title="Caption for image 3"
            data-lightbox="services"
            ><img src="assets/img/quote.png" title="" alt=""
          /></a>
        </div>
        <div class="work-text">
          <h6>Website</h6>
          <h4>Quote generator</h4>
          <div class="btn-bar">
            <a
              title="Read More"
              data-bs-toggle="modal"
              data-bs-target="#work_3"
              class="gallery-link"
              ><i class="fas fa-arrow-up-right-from-square narrow-icon"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="work-box">
        <div class="work-img">
          <a
            href="assets/img/services-4.jpg"
            title="View Gallery"
            data-title="Caption for image 3"
            data-lightbox="services"
            ><img src="assets/img/services-4.jpg" title="" alt=""
          /></a>
        </div>
        <div class="work-text">
          <h6>Event and Religious travel notifcation app</h6>
          <h4>Mahber</h4>
          <div class="btn-bar">
            <a title="Read More" href="#work_4" class="gallery-link"
              ><i class="fas fa-arrow-up-right-from-square narrow-icon"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
