.section-heading {
  margin-bottom: 65px;
  position: relative;
}
.section-heading h6 {
  margin: 0 0 10px;
  font-size: 18px;
  font-weight: 600;
  font-style: italic;
}
.section-heading h2 {
  margin: 0;
  text-transform: uppercase;
  font-size: 48px;
  font-weight: 700;
}

.work-box {
  display: flex;
  flex-wrap: wrap;
}
.work-box .work-img {
  flex: 0 0 40%;
  width: 40%;
  overflow: hidden;
}
a {
  text-decoration: none;
}
a {
  color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
  text-decoration: underline;
}
.work-box .work-img img {
  transition: ease all 0.34s;
  transform: scale(1);
}
img {
  max-width: 100%;
}

img,
svg {
  vertical-align: middle;
}
.work-box .work-text {
  flex: 0 0 60%;
  width: 60%;
  padding-left: 20px;
  padding-right: 8%;
  display: flex;
  flex-direction: column;
}
.h6,
h6 {
  font-size: 1rem;
}
.work-box .work-text h4 {
  font-size: 30px;
  font-weight: 700;
}
.work-box .work-text .btn-bar {
  margin-top: auto;
}
.work-box .work-text .btn-bar a {
  width: 35px;
  height: 35px;
  color: var(--px-white);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 27px;
  line-height: 1;
  cursor: pointer;
}
.narrow-icon {
  width: 5px;
  
}
