<main id="scroll-container" class="wrapper">
  <section id="home" spytarget="home" class="spy-section home-section bg-dark">
    <app-home></app-home>
  </section>
  <section
    id="about"
    spytarget="about"
    class="spy-section section about-section"
  >
    <app-about></app-about>
  </section>
  <section
    id="services"
    spytarget="services"
    class="spy-section section services-section"
  >
    <app-services></app-services>
  </section>
  <section
    id="professional-experience"
    spytarget="professional-experience"
    class="spy-section section professional-experience-section"
  >
    <app-professional-experience></app-professional-experience>
  </section>
  <section
    id="work"
    spytarget="work"
    class="spy-section section work-section"
  >
    <app-work></app-work>
  </section>
  <section
    id="contact"
    spytarget="contact"
    class="spy-section section contact-section"
  >
    <app-contact></app-contact>
  </section>
</main>
