<div class="container">
  <div class="section-heading">
    <h6>My Service</h6>
    <h2>My Specialties</h2>
  </div>
  <div id="accordion_services" class="accordion accordion-flush">
    <div class="accordion-item">
      <div class="accordion-header">
        <button class="accordion-button collapsed" data-target="collapseOne">
          <span class="services-title">Web Design</span
          ><span class="services-small-desc"
            >You can customize a template or make your own from scratch, with an
            immersive library at your disposal. You can customize a
            template</span
          ><span class="accordion-icon"></span>
        </button>
      </div>
      <div
        id="flush-collapseOne"
        data-bs-parent="#accordion_services"
        class="accordion-collapse collapse"
      >
        <div class="accordion-body">
          <div class="row gy-4">
            <div class="col-sm-6 col-md-4">
              <div class="s-img">
                <img src="assets/img/services-5.jpg" title="" alt="" />
              </div>
            </div>
            <div class="col-sm-6 col-md-8">
              <h3>Web Design</h3>
              <div class="s-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                sunt in culpa qui officia deserunt mollit anim id est laborum.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <div class="accordion-header">
        <button
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseTwo"
          aria-expanded="false"
          aria-controls="flush-collapseTwo"
          class="accordion-button collapsed"
        >
          <span class="services-title">UI/UX Design</span
          ><span class="services-small-desc"
            >You can customize a template or make your own from scratch, with an
            immersive library at your disposal. You can customize a
            template</span
          ><span class="accordion-icon"></span>
        </button>
      </div>
      <div
        id="flush-collapseTwo"
        data-bs-parent="#accordion_services"
        class="accordion-collapse collapse"
      >
        <div class="accordion-body">
          <div class="row gy-4">
            <div class="col-sm-6 col-md-4">
              <div class="s-img">
                <img src="assets/img/project-2.jpg" title="" alt="" />
              </div>
            </div>
            <div class="col-sm-6 col-md-8">
              <h3>UI/UX Design</h3>
              <div class="s-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                sunt in culpa qui officia deserunt mollit anim id est laborum.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <div class="accordion-header">
        <button
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseThree"
          aria-expanded="false"
          aria-controls="flush-collapseThree"
          class="accordion-button collapsed"
        >
          <span class="services-title">Mobile Application</span
          ><span class="services-small-desc"
            >You can customize a template or make your own from scratch, with an
            immersive library at your disposal. You can customize a
            template</span
          ><span class="accordion-icon"></span>
        </button>
      </div>
      <div
        id="flush-collapseThree"
        data-bs-parent="#accordion_services"
        class="accordion-collapse collapse"
      >
        <div class="accordion-body">
          <div class="row gy-4">
            <div class="col-sm-6 col-md-4">
              <div class="s-img">
                <img src="assets/img/project-3.jpg" title="" alt="" />
              </div>
            </div>
            <div class="col-sm-6 col-md-8">
              <h3>Mobile Application</h3>
              <div class="s-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                sunt in culpa qui officia deserunt mollit anim id est laborum.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
