<div class="container">
  <div class="row">
    <div class="col-lg-7 col-xl-7 col-xxl-6">
      <div class="hb-text">
        <h1>
          {{ displayIntro }}<br />
          <b>{{ displayFirstName }}</b>
          <span> <br />{{ displayLastName }} ... </span>
        </h1>
        <h2 class="lead">
          <span>{{ displayTitle }}</span> {{ displayLocation }}
        </h2>

        <div class="btn-bar">
          <a href="#contact" class="px-btn">
            Work with me
            <i class="bi-arrow-up-right"></i
          ></a>
        </div>
        <div class="info-bar">
          <p><i class="bi-phone"></i><span>+251 943 31 8895</span></p>
          <p>
            <i class="bi-envelope"></i><span>Yonaskumelachew0@gmail.com</span>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="canvas-container">
    <canvas #matrixCanvas></canvas>
  </div>
</div>
